node_modules/
dist/
build/
/.vite
/.idea
.vscode/
.firebase/
*.log
.env
.cache
.env.*
.env.local
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
coverage/
*.local
firestore-debug.log
